
$default-font:'Roboto', sans-serif;
$global-font-size:12px;
$global-font-weight:500;
$global-font-smoothing:antialiased;
$content-width:700px;
$background:linear-gradient(135deg, #8254EA 0%, #E86DEC 100%);
$full-height: 100vh;

$title-width:400px;

ul{padding:0;margin:0;}li{list-style-type:none;}input[type='radio']{display:none;}label{cursor:pointer}::-webkit-scrollbar {display: none; }

%center{
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

// 라벨 기본 스타일
@mixin label-default{
  background: #212e41;
  text-indent:4px;
  transition-property:height;
  transition-duration:.6s; -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

// 서브메뉴 스타일
@mixin label-active($length){
  @for $i from 1 through $length{
    li:nth-of-type(#{$i}){
      animation:in .15s .45s + $i/8 forwards;
      -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -moz-animation:in .15s .45s + $i/8 forwards;
      -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  } 
}

.mainContainer {
  display: flex;
  height : 1080px;
  .headerContainer{
    min-width: 225px;
    height: 100%;
    overflow: hidden;
    background: #2a394f;
    font-weight: bold;
    label{
      padding:25px;
      float:left;
      height:72px;
      border-bottom: 1px solid #293649;
      position:relative;
      width:100%;
      color:rgb(239, 244, 250);
      transition:text-indent .15s, height .3s;
      box-sizing:border-box;
      img{
        margin-right:10px;
        position:relative;
        top: 2px;
        width:16px;
      }
      span{
        position :relative;
      }
      &:hover{
        background: rgb(33, 46, 65);
        border-bottom: 1px solid #2A394F;
        text-indent:4px;
      }
      &:hover .bar{
        width:100%;
      }
      .bar{
        width: 0px;
        transition:width .15s;
        height: 2px;
        position: absolute;
        display: block;
        background: rgb(53, 87, 137);
        bottom: 0;
        left: 0;
      }
      .lil_arrow{
        width:5px;
        height:5px;
        -webkit-transition: transform 0.8s;
        transition: transform 0.8s;
        -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
        border-top:2px solid white;
        border-right:2px solid white;
        float:right;
        position:relative;
        top: 6px;
        right: 2px;
        transform:rotate(45deg)
      }
    }
    &__content{
      position: absolute;
      display: none;
      overflow: hidden;
      left: 0;
      width: 100%;
      li{
        width:100%;
        opacity:0;
        left:-100%;
        background: #15a4fa;
        padding:25px 0px;
        text-indent:25px;
        box-shadow: 0px 0px #126CA1  inset;
        transition:box-shadow .3s,text-indent .3s;
        position:relative;
        cursor: pointer;

        &.active{
          background: #126CA1;
        }

        &:hover{
          background:#0c93e4;
          box-shadow: 3px 0px #126CA1  inset;
          transition:box-shadow .3s linear,text-indent .3s linear;
          text-indent:31px;

        }
      }
      .clear{
        clear:both;
      }
    }
  }
  .contentContainer{
    background-color: burlywood;
    width: 100%;
    max-width: 1600px;
    height: 100%;
    margin : auto;
  }

input[type='radio']:checked + label .headerContainer__content{
  display: block;
  top: 68px;
  border-bottom: 1px solid rgb(33, 46, 65);
}
input[type="radio"]:checked + label > .lil_arrow {
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  border-top: 2px solid rgb(20, 163, 249);
  border-right: 2px solid rgb(20, 163, 249);
}

input[type='radio']:checked + label .bar{
  width:0;
}

input[type='radio'][id='dashBoard']:checked + label{
  height: 261px;
  @include label-default;
}

input[type='radio'][id='dashBoard']:checked + label{
  @include label-active(4);
}

// 애니메이션
@keyframes in{
  from{left:-100%;opacity:0}
  to{left:0;opacity:1}
}

}
