body,
div,
ul,
li,
span,
input,
textarea,
select,
option,
label,
xmp {
    cursor: default;
    margin: 0;
    padding: 0;
    font-family: Nanum Gothic;
    font-size: 12px;
    font-weight: 500;
    background-position: center center;
    background-repeat: no-repeat;
}

@font-face {
    font-family: "Nanum Gothic";
    src: url('~Fonts/NanumGothic.eot');
    src: local(※), url('~Fonts/NanumGothic.woff') format('woff');
}
