body,
div,
ul,
li,
span,
input,
textarea,
select,
option,
label,
xmp {
    cursor: default;
    margin: 0;
    padding: 0;
    font-family: Nanum Gothic;
    font-size: 12px;
    font-weight: normal;
    line-height: 150%;
    background-position: center center;
    background-repeat: no-repeat;
    color: #555e68;
}

@font-face {
    font-family: "Nanum Gothic";
    src: url('~Fonts/NanumGothic.eot');
    src: local(※), url('~Fonts/NanumGothic.woff') format('woff');
}

xmp {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 5px;
}

div.button {
    min-width: 20px;
    min-height: 20px;
    margin: 9px;
    cursor: pointer;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
}

div.button:active {
    position: relative;
    top: 1px !important;
}

div.button.black {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5A6273), color-stop(1, #353D4A));
    background: -moz-linear-gradient(top, #5A6273 5%, #353D4A 100%);
    background: -webkit-linear-gradient(top, #5A6273 5%, #353D4A 100%);
    background: -o-linear-gradient(top, #5A6273 5%, #353D4A 100%);
    background: -ms-linear-gradient(top, #5A6273 5%, #353D4A 100%);
    background: linear-gradient(to bottom, #5A6273 5%, #353D4A 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#5A6273', endColorstr='#353D4A', GradientType=0);
    background-color: #5f6778;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #2B303C;
    padding: 3px 18px;
    color: #ffffff;
}

div.button.black:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #434955), color-stop(1, #5f6778));
    background: -moz-linear-gradient(top, #434955 5%, #5f6778 100%);
    background: -webkit-linear-gradient(top, #434955 5%, #5f6778 100%);
    background: -o-linear-gradient(top, #434955 5%, #5f6778 100%);
    background: -ms-linear-gradient(top, #434955 5%, #5f6778 100%);
    background: linear-gradient(to bottom, #434955 5%, #5f6778 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#434955', endColorstr='#5f6778', GradientType=0);
    background-color: #434955;
}

div.button.gray {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #84878d), color-stop(1, #73767b));
    background: -moz-linear-gradient(top, #91959D 5%, #73767b 100%);
    background: -webkit-linear-gradient(top, #91959D 5%, #73767b 100%);
    background: -o-linear-gradient(top, #91959D 5%, #73767b 100%);
    background: -ms-linear-gradient(top, #91959D 5%, #73767b 100%);
    background: linear-gradient(to bottom, #91959D 5%, #73767b 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#84878d', endColorstr='#73767b', GradientType=0);
    background-color: #84878d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #73767b;
    padding: 3px 18px;
    color: #ffffff;
}

div.button.gray:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #73767b), color-stop(1, #84878d));
    background: -moz-linear-gradient(top, #73767b 5%, #84878d 100%);
    background: -webkit-linear-gradient(top, #73767b 5%, #84878d 100%);
    background: -o-linear-gradient(top, #73767b 5%, #84878d 100%);
    background: -ms-linear-gradient(top, #73767b 5%, #84878d 100%);
    background: linear-gradient(to bottom, #73767b 5%, #84878d 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#73767b', endColorstr='#84878d', GradientType=0);
    background-color: #73767b;
}

div.button.skyblue {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #48b8fe), color-stop(1, #22aafe));
    background: -moz-linear-gradient(top, #48b8fe 5%, #22aafe 100%);
    background: -webkit-linear-gradient(top, #48b8fe 5%, #22aafe 100%);
    background: -o-linear-gradient(top, #48b8fe 5%, #22aafe 100%);
    background: -ms-linear-gradient(top, #48b8fe 5%, #22aafe 100%);
    background: linear-gradient(to bottom, #48b8fe 5%, #22aafe 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#48b8fe', endColorstr='#22aafe', GradientType=0);
    background-color: #48b8fe;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #1085d3;
    padding: 3px 18px;
    color: #ffffff;
}

div.button.skyblue:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #22aafe), color-stop(1, #48b8fe));
    background: -moz-linear-gradient(top, #22aafe 5%, #48b8fe 100%);
    background: -webkit-linear-gradient(top, #22aafe 5%, #48b8fe 100%);
    background: -o-linear-gradient(top, #22aafe 5%, #48b8fe 100%);
    background: -ms-linear-gradient(top, #22aafe 5%, #48b8fe 100%);
    background: linear-gradient(to bottom, #22aafe 5%, #48b8fe 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#22aafe', endColorstr='#48b8fe', GradientType=0);
    background-color: #22aafe;
}

div.button.white {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f2f4f5));
    background: -moz-linear-gradient(top, #ffffff 5%, #f2f4f5 100%);
    background: -webkit-linear-gradient(top, #ffffff 5%, #f2f4f5 100%);
    background: -o-linear-gradient(top, #ffffff 5%, #f2f4f5 100%);
    background: -ms-linear-gradient(top, #ffffff 5%, #f2f4f5 100%);
    background: linear-gradient(to bottom, #ffffff 5%, #f2f4f5 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f4f5', GradientType=0);
    background-color: #ffffff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #bfbfbf;
    padding: 3px 18px;
    color: #2e3e57;
}

div.button.white:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f2f4f5), color-stop(1, #ffffff));
    background: -moz-linear-gradient(top, #f2f4f5 5%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #f2f4f5 5%, #ffffff 100%);
    background: -o-linear-gradient(top, #f2f4f5 5%, #ffffff 100%);
    background: -ms-linear-gradient(top, #f2f4f5 5%, #ffffff 100%);
    background: linear-gradient(to bottom, #f2f4f5 5%, #ffffff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f2f4f5', endColorstr='#ffffff', GradientType=0);
    background-color: #f2f4f5;
}

select {
    margin: 5px;
    height: 20px;
    font-weight: normal;
}

option {
    font-weight: normal;
}

input {
    cursor: text;
    font-weight: normal;
    margin: 5px;
    padding: 2px 3px 5px;
}

input.number {
    width: 45px;
    height: 12px;
    color: #666;
    text-align: right;
}

input.text {
    height: 15px;
    text-align: left;
}

input[type='checkbox'] {
    cursor: pointer;
}

textarea {
    margin: 5px;
    font-weight: normal;
    cursor: text;
}

div.searchArea {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    overflow: hidden;
    padding: 0px 18px;
    position: relative;
    width: 130px;
    height: 20px;
}

div.searchArea>input.searchText {
    border: medium none;
    width: 130px;
    padding: 0px;
    margin: 1px 0px 3px -10px;
}